*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: black;
    color: rgb(238, 238, 238);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#headerContainer {
    height: 100vh;
    width: 100%;
    display: flex;
}

#leftContainer {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rightContainer {
    width: 50vw;
    height: 100%;
}

#rightContainer img {
    height: 100%;
    width: 100%;
}

#unionContainer {
    height: 50px;
    width: 50px;
    position: absolute;
    border: rgb(238, 238, 238) 2px solid;
    top: 68px;
    right: 115px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#unionContainer img {
    height: 23px;
    width: 23px;
}

#appleLogo {
    height: 50px;
    width: 50px;
    padding-bottom: 8px;
}

#appleLogo img {
    height: 100%;
    width: 100%;
}

#navbarContainer {
    /* border: solid 1px crimson; */
    position: absolute;
    top: 65.5px;
    left: 150px;
}

#navbarContainer li {
    margin-right: 48px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
}

#navbarContainer ul {
    display: inline-flex;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#category {
    width: 420px;
    height: 20px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 50px;
    /* border: solid 1px crimson; */
}

#headerTitle{
    width: 420px;
    height: 30px;
    font-size: 25px;
    /* border: solid 1px crimson; */
}

#headerSubtitle {
    width: 420px;
    height: 160px;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5px;
    /* border: solid 1px crimson; */
}

#rainbow {
    background: -webkit-linear-gradient(#FF33EC, #33A2FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#headerDescription {
    height: 62px;
    width: 420px;
    margin-top: 40px;
    font-size: 22px;
    opacity: 0.9;
    font-weight: 300;
}

#downContainer {
    margin-top: 48px;
    height: 50px;
    width: 50px;
    border:rgb(238, 238, 238) 1px solid;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#downContainer img {
    position: relative;
    top: 2px;
}

/***************************************************/
/******************** Products ********************/
/*************************************************/

#products {
    height: 665px;
    width: 100%;
    background-color: rgb(238, 238, 238);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#productsTitle {
    width: 1140px;
    height: 60px;
    font-size: 50px;
    font-weight: 500;
    margin-top: 64px;
    /* border: crimson 1px solid; */
}

#productsContent {
    /* border: cyan 1px solid; */
    display: flex;
    width: 1140px;
    height: 350px;
    margin-top: 48px;
}

#productsDescripiton {
    height: 70px;
    width: 240px;
    font-size: 22px;
    opacity: 0.9;
    font-weight: 300;
    color: black;
    /* border: darkorange 1px solid; */
}

#iPhone13Pro {
    height: 350px;
    width: 300px;
    position: absolute;
    /* border: blue 1px solid; */
}

#iPhone13Pro img {
    height: 100%;
    width: 100%;
}

#iPhone13 {
    height: 350px;
    width: 300px;
    position: absolute;
    /* border: blue 1px solid; */
}

#iPhone13 img {
    height: 100%;
    width: 100%;
}

.arrivalsTitle {
    margin-top: 130px;
    font-size: 55px;
    position: relative;
    margin-left: 45px;
    color: rgb(238, 238, 238);
}

#i13proContainer {
    /* border: 1px solid chartreuse; */
    height: 350px;
    width: 460px;
    text-align: center;
}

#i13Container {
    /* border: 1px solid yellow; */
    height: 350px;
    width: 460px;
    text-align: center;
}

.blackText {
    color: black;
}

#productsFooter {
    display: inline-flex;
    width: 1140px;
    height: 25px;
    /* border: orangered 1px solid; */
    align-items: center;
    ;
}

#productsPagination {
    opacity: 0.6;
}

#productsNext {
    margin-left: 150px;
    font-size: 20px;
    display: inline-flex;
}

#productsRightContainer {
    display: flex;
    align-items: center;    
}

#productsRightContainer img {
    margin-left: 9px;
    height: 16px;
    width: 9px;
    transform: rotate(270deg);
}