*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: black;
    color: rgb(238, 238, 238);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a{
    text-decoration: none;
    color: rgb(238, 238, 238);
}

a:active{
    text-decoration: none;
    color: rgb(238, 238, 238);
}

a:visited{
    text-decoration: none;
    color: rgb(238, 238, 238);
}

.bigTitles {
    font-size: 3.5rem;
    font-weight: 500;
    margin-top: 4rem;
}

.smallTitles {
    font-size: 3.5rem;
    font-weight: 500;
}

#headerContainer {
    height: 100vh;
    width: 100%;
    display: flex;
}

#leftContainer {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: cornsilk 1px solid; */
}

#rightContainer {
    width: 50vw;
    height: 100%;
}

#rightContainer img {
    height: 100%;
    width: 100%;
}

#navbarContainer {
    /* border: solid 1px crimson; */
    background-color: black;
    width: 100%;
    height: 3.75rem;
    display: flex;
    margin-top: 64px;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 10;
}

#navbarContainer ul {
    display: inline-flex;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbarContainer li {
    margin-right: 3rem;
    font-weight: 400;
    font-size: 1.13rem;
    letter-spacing: 1px;
}

#appleLogo {
    height: 3.13rem;
    width: 3.13rem;
    padding-bottom: 0.5rem;
}

#appleLogo img {
    height: 100%;
    width: 100%;
    margin-top:0.125rem
    /* border: yellow 1px solid; */
    margin-left: -0.94rem;
}

#unionContainer {
    height: 3.13rem;
    width: 3.13rem;
    margin-left: 0.9rem;
    border: rgb(238, 238, 238) 2px solid;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#unionContainer img {
    height: 1.44rem;
    width: 1.44rem;
}

#headerTexts {
    /* border: springgreen 1px solid; */
    width: 40.625rem;
    margin-left: 5rem;
    margin-bottom: 5rem;
}

#category {
    width: 26.25rem;
    height: 1.25rem;
    letter-spacing: 1px;
    font-size: 0.88rem;
    font-weight: 300;
    margin-bottom: 3.13rem;
    /* border: solid 1px crimson; */
}

#headerTitle{
    width: 26.25rem;
    height: 1.875rem;
    font-size: 1.57rem
    /* border: solid 1px crimson; */
}

#headerSubtitle {
    width: 26.25rem;
    height: 10rem;
    font-size: 4.375rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 0.3125rem;
    /* border: solid 1px crimson; */
}

#rainbow {
    background: -webkit-linear-gradient(0deg, rgb(86, 131, 255) -10%, rgb(43,220,90) 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#headerDescription {
    height: 3.875rem;
    width: 26.25rem;
    margin-top: 2.5rem;
    font-size: 1.38rem;
    opacity: 0.9;
    font-weight: 300;
}

#downContainer {
    margin-top: 3rem;
    height: 3.125rem;
    width: 3.125rem;
    border:rgb(238, 238, 238) 1px solid;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#downContainer img {
    position: relative;
    top: 0.125rem;
}

/***************************************************/
/******************** Products ********************/
/*************************************************/

#products {
    height: 41.5625rem;
    width: 100%;
    background-color: rgb(238, 238, 238);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#productsTitle {
    width: 71.25rem;
    height: 3.75rem;
    /* border: crimson 1px solid; */
}

#productsContent {
    /* border: cyan 1px solid; */
    display: flex;
    width: 71.25rem;
    height: 21.875rem;
    margin-top: 3rem;
}

#productsDescripiton {
    height: 4.375rem;
    width: 15rem;
    font-size: 1.375rem;
    opacity: 0.9;
    font-weight: 300;
    color: black;
    /* border: darkorange 1px solid; */
}

#iPhone13Pro {
    height: 21.875rem;
    width: 18.75rem;
    position: absolute;
    /* border: blue 1px solid; */
}

#iPhone13Pro img {
    height: 100%;
    width: 100%;
}

#iPhone13 {
    height: 21.875rem;
    width: 18.75rem;
    position: absolute;
    /* border: blue 1px solid; */
}

#iPhone13 img {
    height: 100%;
    width: 100%;
}

.arrivalsTitle {
    margin-top: 8.125rem;
    font-size: 3.44rem;
    position: relative;
    margin-left: 2.8125rem;
    color: rgb(238, 238, 238);
}

#i13proContainer {
    /* border: 1px solid chartreuse; */
    height: 21.875rem;
    width: 28.75rem;
    text-align: center;
}

#i13Container {
    /* border: 1px solid yellow; */
    height: 21.875rem;
    width: 28.75rem;
    text-align: center;
}

.blackText {
    color: black;
}

#productsFooter {
    display: inline-flex;
    width: 71.25rem;
    height: 1.5625rem;
    /* border: orangered 1px solid; */
    align-items: center;
    margin-top: 3rem;
}

#productsPagination {
    opacity: 0.6;
}

#productsNext {
    margin-left: 9.375rem;
    font-size: 1.25rem;
    display: inline-flex;
}

#productsRightContainer {
    display: flex;
    align-items: center;    
}

#productsRightContainer img {
    margin-left: 0.5625rem;
    height: 1rem;
    width: 0.5625rem;
    transform: rotate(270deg);
}

/***************************************************/
/******************** Services ********************/
/*************************************************/


#services {
    height: 30.8125rem;
    width: 100%;
    background-color: rgb(238, 238, 238);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: #FF33EC 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#servicesContainer {
    height: 100%;
    width: 71.25rem;
    /* border: blue 1px solid; */
    display: flex;
}

#servicesTitle {
    height: 13.125rem;
    width: 28.625rem;
    font-size: 2.8125rem;
    /* border: orange 1px solid; */
}

#moreServices {
    display: flex;
    align-items: center;
    margin-top: 3.125rem;
    font-size: 1.05rem;
    height: 1.5625rem;
    width: 8.125rem;
    /* border: blueviolet 1px solid; */
}

#moreServices img {
    width: 0.625rem;
    height: 0.875rem;
    position: relative;
    left: 0.3rem;
    top: 0.16rem;
    transform: rotate(270deg);
}

#servicesContent {
    /* border: crimson 1px solid; */
    height: 25rem;
    width: 31.25rem;
    margin-top: 1.25rem;
    margin-left: 8.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#appleMusic {
    height: 50%;
    width: 12.5rem;
    /* border: brown 1px solid; */
}

#appleTV {
    height: 50%;
    width: 12.5rem;
    margin-left: 3.125rem;
    /* border: brown 1px solid; */
}

#appleNews {
    height: 50%;
    width: 12.5rem;
    /* border: brown 1px solid; */
}

#icloud {
    height: 50%;
    width: 12.5rem;
    margin-left: 3.125rem;
    /* border: brown 1px solid; */
}

.serviceName {
    font-size: 1.57rem;
    margin-bottom: 1.125rem;
    display: flex;
}

.serviceTitleSpan {
    margin-left: 0.625rem;
}

.serviceLogo {
    height: 1.875rem;
    width: 1.875rem;
}

.serviceDescription {
    font-size: 1.125rem;
    opacity: 0.7;
}

/***************************************************/
/**************** Shot on iPhone ******************/
/*************************************************/

#shotOnIphone {
    height: 64.625rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: yellow 1px solid; */

}

#shotOnIphoneTitle {
    width: 71.25rem;
    height: 3.75rem;
    /* border: crimson 1px solid; */
}

#shotOnIphoneDesc {
    font-size: 1.125rem;
    opacity: 0.7;
    width: 50rem;
    /* border: orange 1px solid; */
}

#shotOnIphonePicturesContainer {
    width: 100%;
    /* border: crimson 1px solid; */
    display: flex;
    margin-top: 11.25rem;
    justify-content: center;
    align-items: center;
}

#shotOnIphonePictures {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: springgreen solid 1px; */
    width: 100%;
}

#soi4Container {
    display: none;
}

.soiContainer{
    transition: 1s;
}


#soi1Container {
    transform: rotateZ(-8deg);
}

#soi1Container:hover {
    transform: scale(1.2);
} 

#soi2Container {
    transform: rotateZ(12deg);
}

#soi2Container:hover {
    transform: scale(1.2);
} 

#soi3Container {
    transform: rotateZ(2deg);
}

#soi3Container:hover {
    transform: scale(1.2);
} 

.soiContainer:hover {
    transition: 1s;
}

.soiContainer img {
    height: 25rem;
    width: 21.875rem;
    /* border: white 1px solid; */
    object-fit: contain;
}

#shotOnIphoneFooter {
    display: flex;
    width: 71.25rem;
    height: 12.5rem;
    margin-top: 5rem;
    /* border: palegreen 1px solid; */
}

#shotOnIphoneFooterTitle {
    height: 3.75rem;
    width: 22.5rem;
    margin-bottom: 3.125rem;
    /* border: crimson 1px solid; */
}

#shotOnIphoneSubtitle {
    font-size: 1.125rem;
    opacity: 0.7;
    width: 22.4375rem;
    margin-left: 1.875rem;
    margin-top: 1.25rem;
}

#soiLearnMore {
    display: flex;
    align-items: center;
    margin-top: 0.9375rem;
    font-size: 1.06rem;
    height: 1.5625;
    width: 8.125rem;
    /* border: blueviolet 1px solid; */
}

#soiLearnMore img {
    width: 0.625rem;
    height: 0.875rem;
    position: relative;
    left: 0.3125rem;
    top: 0.17rem;
    transform: rotate(270deg);
}

#shotOnIphonePagination {
    /* border: olivedrab 1px solid; */
    width: 6.25rem;
    margin-top: 1.25rem;
    margin-left: 8rem;
}

#soiPages {
    /* border: orchid 1px solid; */
}

#soiSwiper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.75rem;
}

#soiLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(238, 238, 238);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50px;
}

#soiLeft img {
    transform: rotate(90deg);
    position: relative;
    left: -0.0625rem;
}

#soiRight {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(238, 238, 238);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50px;
}

#soiRight img {
    transform: rotate(270deg);
    position: relative;
    left: 0.0625rem;
}
