*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: black;
    color: rgb(238, 238, 238);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a{
    text-decoration: none;
    color: rgb(238, 238, 238);
}

a:active{
    text-decoration: none;
    color: rgb(238, 238, 238);
}

a:visited{
    text-decoration: none;
    color: rgb(238, 238, 238);
}

.bigTitles {
    font-size: 55px;
    font-weight: 500;
    margin-top: 64px;
}

.smallTitles {
    font-size: 55px;
    font-weight: 500;
}

#headerContainer {
    height: 100vh;
    width: 100%;
    display: flex;
}

#leftContainer {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: cornsilk 1px solid; */
}

#rightContainer {
    width: 50vw;
    height: 100%;
}

#rightContainer img {
    height: 100%;
    width: 100%;
}

#unionContainer {
    height: 50px;
    width: 50px;
    position: absolute;
    border: rgb(238, 238, 238) 2px solid;
    top: 138px;
    right: 115px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#unionContainer img {
    height: 23px;
    width: 23px;
}

#appleLogo {
    height: 50px;
    width: 50px;
    padding-bottom: 8px;
}

#appleLogo img {
    height: 100%;
    width: 100%;
    /* border: yellow 1px solid; */
    margin-left: -15px;
}

#navbarContainer {
    /* border: solid 1px crimson; */
    width: 650px;
}

#navbarContainer li {
    margin-right: 48px;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 1px;
}

#navbarContainer ul {
    display: inline-flex;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerTexts {
    /* border: springgreen 1px solid; */
    width: 650px;
}

#category {
    width: 420px;
    height: 20px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 50px;
    /* border: solid 1px crimson; */
}

#headerTitle{
    width: 420px;
    height: 30px;
    font-size: 25px;
    /* border: solid 1px crimson; */
}

#headerSubtitle {
    width: 420px;
    height: 160px;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 5px;
    /* border: solid 1px crimson; */
}

#rainbow {
    background: -webkit-linear-gradient(0deg, rgb(86, 131, 255) -10%, rgb(43,220,90) 110%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#headerDescription {
    height: 62px;
    width: 420px;
    margin-top: 40px;
    font-size: 22px;
    opacity: 0.9;
    font-weight: 300;
}

#downContainer {
    margin-top: 48px;
    height: 50px;
    width: 50px;
    border:rgb(238, 238, 238) 1px solid;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#downContainer img {
    position: relative;
    top: 2px;
}

/***************************************************/
/******************** Products ********************/
/*************************************************/

#products {
    height: 665px;
    width: 100%;
    background-color: rgb(238, 238, 238);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#productsTitle {
    width: 1140px;
    height: 60px;
    /* border: crimson 1px solid; */
}

#productsContent {
    /* border: cyan 1px solid; */
    display: flex;
    width: 1140px;
    height: 350px;
    margin-top: 48px;
}

#productsDescripiton {
    height: 70px;
    width: 240px;
    font-size: 22px;
    opacity: 0.9;
    font-weight: 300;
    color: black;
    /* border: darkorange 1px solid; */
}

#iPhone13Pro {
    height: 350px;
    width: 300px;
    position: absolute;
    /* border: blue 1px solid; */
}

#iPhone13Pro img {
    height: 100%;
    width: 100%;
}

#iPhone13 {
    height: 350px;
    width: 300px;
    position: absolute;
    /* border: blue 1px solid; */
}

#iPhone13 img {
    height: 100%;
    width: 100%;
}

.arrivalsTitle {
    margin-top: 130px;
    font-size: 55px;
    position: relative;
    margin-left: 45px;
    color: rgb(238, 238, 238);
}

#i13proContainer {
    /* border: 1px solid chartreuse; */
    height: 350px;
    width: 460px;
    text-align: center;
}

#i13Container {
    /* border: 1px solid yellow; */
    height: 350px;
    width: 460px;
    text-align: center;
}

.blackText {
    color: black;
}

#productsFooter {
    display: inline-flex;
    width: 1140px;
    height: 25px;
    /* border: orangered 1px solid; */
    align-items: center;
    margin-top: 48px;
}

#productsPagination {
    opacity: 0.6;
}

#productsNext {
    margin-left: 150px;
    font-size: 20px;
    display: inline-flex;
}

#productsRightContainer {
    display: flex;
    align-items: center;    
}

#productsRightContainer img {
    margin-left: 9px;
    height: 16px;
    width: 9px;
    transform: rotate(270deg);
}

/***************************************************/
/******************** Services ********************/
/*************************************************/


#services {
    height: 493px;
    width: 100%;
    background-color: rgb(238, 238, 238);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: #FF33EC 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#servicesContainer {
    height: 100%;
    width: 1140px;
    /* border: blue 1px solid; */
    display: flex;
}

#servicesTitle {
    height: 210px;
    width: 458px;
    font-size: 45px;
    /* border: orange 1px solid; */
}

#moreServices {
    display: flex;
    align-items: center;
    margin-top: 50px;
    font-size: 17px;
    height: 25px;
    width: 130px;
    /* border: blueviolet 1px solid; */
}

#moreServices img {
    width: 10px;
    height: 14px;
    position: relative;
    left: 5px;
    top: 2.5px;
    transform: rotate(270deg);
}

#servicesContent {
    /* border: crimson 1px solid; */
    height: 400px;
    width: 500px;
    margin-top: 20px;
    margin-left: 136px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#appleMusic {
    height: 50%;
    width: 200px;
    /* border: brown 1px solid; */
}

#appleTV {
    height: 50%;
    width: 200px;
    margin-left: 50px;
    /* border: brown 1px solid; */
}

#appleNews {
    height: 50%;
    width: 200px;
    /* border: brown 1px solid; */
}

#icloud {
    height: 50%;
    width: 200px;
    margin-left: 50px;
    /* border: brown 1px solid; */
}

.serviceName {
    font-size: 25px;
    margin-bottom: 18px;
    display: flex;
}

.serviceTitleSpan {
    margin-left: 10px;
}

.serviceLogo {
    height: 30px;
    width: 30px;
}

.serviceDescription {
    font-size: 18px;
    opacity: 0.7;
}

/***************************************************/
/**************** Shot on iPhone ******************/
/*************************************************/

#shotOnIphone {
    height: 1034px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: yellow 1px solid; */

}

#shotOnIphoneTitle {
    width: 1140px;
    height: 60px;
    /* border: crimson 1px solid; */
}

#shotOnIphoneDesc {
    font-size: 18px;
    opacity: 0.7;
    width: 800px;
    /* border: orange 1px solid; */
}

#shotOnIphonePicturesContainer {
    width: 100%;
    /* border: crimson 1px solid; */
    display: flex;
    margin-top: 180px;
    justify-content: center;
    align-items: center;
}

#shotOnIphonePictures {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: springgreen solid 1px; */
    width: 100%;
}

#soi4Container {
    display: none;
}

.soiContainer img {
    height: 400px;
    width: 350px;
    /* border: white 1px solid; */
    object-fit: contain;
}

#shotOnIphoneFooter {
    display: flex;
    width: 1140px;
    height: 200px;
    margin-top: 80px;
    /* border: palegreen 1px solid; */
}

#shotOnIphoneFooterTitle {
    height: 60px;
    width: 360px;
    margin-bottom: 50px;
    /* border: crimson 1px solid; */
}

#shotOnIphoneSubtitle {
    font-size: 18px;
    opacity: 0.7;
    width: 359px;
    margin-left: 30px;
    margin-top: 20px;
}

#soiLearnMore {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 17px;
    height: 25px;
    width: 130px;
    /* border: blueviolet 1px solid; */
}

#soiLearnMore img {
    width: 10px;
    height: 14px;
    position: relative;
    left: 5px;
    top: 2.5px;
    transform: rotate(270deg);
}

#shotOnIphonePagination {
    /* border: olivedrab 1px solid; */
    width: 100px;
    margin-top: 20px;
    margin-left: 128px;
}

#soiPages {
    /* border: orchid 1px solid; */
}

#soiSwiper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

#soiLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(238, 238, 238);
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

#soiLeft img {
    transform: rotate(90deg);
    position: relative;
    left: -1px;
}

#soiRight {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(238, 238, 238);
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

#soiRight img {
    transform: rotate(270deg);
    position: relative;
    left: 1px;
}